root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

[*.ttinclude]
insert_final_newline = false

# C++ files
[*.{cpp,c,h,hpp}]
indent_style = space
indent_size = 4

# C# files
[*.cs]
indent_style = space
indent_size = 4

# Shader files
[*.{hlsl,shader,glsl}]
indent_style = space
indent_size = 4

# XAML files
[*.xaml]
indent_style = space
indent_size = 2

# MSBuild
[*.{csproj,proj,projitems,shproj,fsproj,target,props}]
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_style = space
indent_size = 4
